extends layout

block content
  h1 #{title}

  form(method='POST' action='' enctype='multipart/form-data')
    div
      label(for='name') Instrument:
      input#name(type='text', placeholder='e.g Ukelele' name='name' value=(undefined===instrument ? '' : instrument.name))
    div
      label(for='description') Description:
      textarea#description(placeholder='e.g This instrument is typically used' name='description' value=(undefined===instrument ? '' : instrument.description))
    div
      label(for='productImage') Image:
      input#productImage(type='file', name='productImage' )
    button(type='submit') Submit

  if errors
   ul(class='errors')
    for error in errors
     li!= error.msg || error.message
