doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div
      nav
        block nav
          ul
            li(class='home')
              a(href='/catalog') Home
            li
              a(href='/catalog/products') Products
            li
              a(href='/catalog/instruments') Instruments
            li
              a(href='/catalog/brands') Brands
            li(class='create') 
              button
                span +
                p Create New
              div(class='create-links') 
                p
                  a(href='/catalog/instrument/create') Create new instrument
                p
                  a(href='/catalog/brand/create') Create new brand
                p
                  a(href='/catalog/product/create') Create new product 

        
    div(class='content')
      block content
