* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

img {
  height: 200px;
}

nav ul {
  display: flex;
  list-style: none;
  height: 40px;
  align-items: center;
  background-color: grey;
}

nav ul li {
  margin-right: 12px;
  padding: 12px;
}

.home {
  margin-right: auto;
}

.create {
  position: relative;
}

.create button{
  height: 100%;
  display: flex;
  cursor: pointer;
  background-color: transparent;
  color: white;
}

.create-links {
  position: absolute;
  top: 100%;
  right: 0;
  white-space: nowrap;
  transform: translateX(12px);
}

.create-links p {
  padding: 12px;
  background-color: grey;
}

.create .create-links, .create .create-links * {
  display: none;
} 

.create:hover .create-links, .create:hover .create-links * {
  display: block;
} 

.content {
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.wrapper {
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  border: solid black 1px;
  padding: 20px;
}

.wrapper>* {
  margin-bottom: 20px;
}

.wrapper ul {
  list-style: none;
}

.content h1 {
  margin: 30px;
}

.content ul {
  margin-left: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px;
  list-style: none;
  margin-bottom: 30px;
}

.card:not(.product) a { 
  width: 400px;
  display: flex;
  border: 1px solid black;
  border-radius: 4px;
  height: 220px;
}

.card .image-wrapper {
  width: 60%;
  display: flex;
}

.card .image {
  overflow: auto;
  display: flex;
  align-items: center;
  margin: auto;
}

.card .info {
  margin: 12px;
  color: black
}

.card .instrument {
  position: relative;
}

.instrument p {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 10%;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
}

.category .image {
  margin: auto;
  width: fit-content;
}

.category .image img {
  height: 340px;
}

.category h1 {
  margin-bottom: 15px;
}

.category p {
  margin: 0 30px;
}

.product {
  display: flex;
  margin: 30px;
}

.product h1 {
  margin: 0;
}

.product .info {
  margin-left: 20px;
}

.product .info *{
  margin-bottom: 12px;
  word-break: break-all;
}

.product a, .bottom-link a {
  color: grey;
}

.product a:hover, .bottom-link a:hover {
  text-decoration: underline;
}

hr {
  margin: 0 20px;
  height: 1px;
  background-color: rgba(128, 128, 128, 0.7);
}

.bottom-link {
  margin: 15px 30px;
}

form:not(.delete) {
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 8px;
  padding: 18px;
  font-size: large;
}

form:not(.delete) div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: left;
  margin: 6px 0 18px;
  align-items: flex-start;
}

form input, form textarea, form select {
  border: 1px solid black;
  border-radius: 2px;
  font-size: large;
  width: 100%;
  padding: 3px 6px;
  resize: none;
  background-color: white;
  color: #757575;
}

form button {
  padding: 12px 8px;
  background-color: grey;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.6);
  transition: .2 ease-in-out all;
}

form button:active {
  transform: translateY(2px);
  box-shadow: -2px -2px rgba(0, 0, 0, 0.6);
}

.content .errors {
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  list-style: none;
  color: red;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.errors li::before {
  content: '**';
}

.delete {
  margin: 10px 30px;
}